.title-bar {
    margin-top: 5%;
    margin-bottom: 2%;
}

.diagram-bar {
    text-align: right;
}

#dy-canvas-winter #dy-canvas-summer{
    text-align: right;
}

.control-bar {

}
.title {
    text-align: right;
    margin: 0px;
    color: rgb(30,30,30);
}

.name {
    text-align: right;
    vertical-align: text-bottom;
}





/*VIZ DIV*/
/*div {
    border: 0.5px solid rgb(100,100,100);
    border-radius: 10px;
}*/
